<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./amazonnn.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
            <div class="logo">
            </div>
        </div>
    </div>
    <header>
        <div class="navbar1">
            <div class="nav1-logo">
                <div class="logo1">
                </div>
            </div>
            <div class="nav-games">
                <a class="games-third" href="https://www.playstation.com/en-in/ps5/games/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-games%3Aps5">Games</a>
                <div class="icon">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="station.html">PS5</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/ps4/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-ps4%3Aconsole">PS4</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/ps-plus/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-services%3Aps-plus">Services</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="/accessories">Accessories</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://blog.playstation.com/">News</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="/store">Store</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/support/?smcid=other%3Aen-in%3Ablank%3Aprimary%20nav%3Amsg-support%3Asupport">Support</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="button">
                    <% if (typeof username !== 'undefined') { %>
                        <a href="/login"><button class="button-1" role="button"><%= username %></button></a>
                        <% } else { %>
                    <a href="/login"><button class="button-1" role="button">Sign In</button></a>
                    <% } %>
                </div>
                <div class="input-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="fname" name="fname" size="10" placeholder="Search">
                </div>
            </div>
        </div>
    </header>
    <div class="slider">
        <div class="list">
            <div class="item active">
                <img src="./6090803d73cfbc10cea24487001790b7f555c9b3-scaled.jpg">
                <div class="content">
                    <p>Stellar Blade</p>
                    <h2>Reclaim Earth for Mankind</h2>
                    <p>
                        Save humanity from extinction in this electrifying story-driven actiona adventure, available April 26 Only on PS5
                    </p>
                    <a href="https://www.playstation.com/en-in/games/stellar-blade/"><button class="button-2" role="button">Find Out More</button></a>
                </div>
            </div>
            <div class="item">
                <img src="./AC-RED-Hero-c670e300cce5edfef3cf.jpg">
                <div class="content">
                    <p>AC Shadows</p>
                    <h2>Strike As One</h2>
                    <p>
                        Experience an epic historical action-adventure story set in feudal Japan,available November 15 on PS5
                    </p>
                    <a href="https://www.playstation.com/en-in/games/assassins-creed-shadows/"><button class="button-2" role="button">Find Out More</button></a>
                </div>
            </div>
            <div class="item">
                <img src="./ghost-of-tsushima-directors-cut_3t3r.jpg">
                <div class="content">
                    <p>Ghost of Tsushima</p>
                    <h2>Forge a New Path</h2>
                    <p>
                        Play through Jin Sakai's journey & venture into the complete Ghost of Tsushima Director's Cut,now available on PC
                    </p>
                    <a href="https://www.playstation.com/en-in/games/ghost-of-tsushima/pc/"><button class="button-2" role="button">Find Out More</button></a>
                </div>
            </div>
            <div class="item">
                <img src="./diablo-iv-PS5-wallpapers-2023-02.jpg">
                <div class="content">
                    <p>Diablo IV </p>
                    <h2>Loot Reborn</h2>
                    <p>
                        The biggest update to Diablo IV since launch is out now on PS4 & PS5, adding new itemization systems,Helltide changes and more
                    </p>
                    <a href="https://www.playstation.com/en-in/games/diablo-iv/"><button class="button-2" role="button">Find Out More</button></a>
                </div>
            </div>
            <div class="item">
                <img src="./gold.jpg">
                <div class="content">
                    <p>The Elder Scrolls</p>
                    <h2>Gold Road</h2>
                    <p>
                        For a limited time only, join PlayStation Plus today to get 25% off on a 12-month PS Plus Membership
                    </p>
                    <a href="https://www.playstation.com/en-in/games/the-elder-scrolls-online/"><button class="button-2" role="button">Find Out More</button></a>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <div class="thumbnail">
            <div class="item active">
                <img src="6090803d73cfbc10cea24487001790b7f555c9b3-scaled.jpg">
                <div class="content">
                    
                </div>
            </div>
            <div class="item">
                <img src="AC-RED-Hero-c670e300cce5edfef3cf.jpg">
                <div class="content">
                    
                </div>
            </div>
            <div class="item">
                <img src="ghost-of-tsushima-directors-cut_3t3r.jpg">
                <div class="content">
                    
                </div>
            </div>
            <div class="item">
                <img src="diablo-iv-PS5-wallpapers-2023-02.jpg">
                <div class="content">
                    
                </div>
            </div>
            <div class="item">
                <img src="gold.jpg">
                <div class="content">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="body" data-aos="fade-right" data-aos-duration="2000" data-aos-once="false"> 
        <div class="text"><h>Introducing the PS5 console and accessories</h>
            <br>
            <h class="console">PlayStation 5 Console</h>
            <br>
            <p class="content123">Experience an all-new generation of incredible PlayStation games.</p>
            <a href="https://www.playstation.com/en-in/ps5/"><button class="button-3" role="button">Find Out More</button></a>
        </div>
        <div class="pic">
            <img src="ps5.png">
        </div>
        </div>
        <div class="body2" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="false"> 
            <div class="pic2">
                <img src="controller.png">
            </div>
            <div class="text">
                <h class="console">DualSense&#8482; Wireless Controller</h>
                <br>
                <p class="content1234">Immerse yourself in the gaming Experience with a controller that supports responsive haptic feedback and dynamic trigger effects.</p>
                <a href="https://www.playstation.com/en-in/accessories/dualsense-wireless-controller/"><button class="button-3" role="button">Find Out More</button></a>
            </div>
            </div>
            <div class="body" data-aos="fade-right" data-aos-duration="2000" data-aos-once="false"> 
                <div class="text">
                    <h class="console">PlayStation 5 Console</h>
                    <br>
                    <p class="content123">Personalise your PlayStation 5 or PlayStation 5 Digital Edition console with a vibrant array of new colour options.</p>
                    <a href="https://www.playstation.com/en-in/accessories/ps5-console-covers/"><button class="button-3" role="button">Find Out More</button></a>
                </div>
                <div class="pic3">
                    <img src="ps5s.png">
                </div>
                </div>
                <div class="body2" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="false"> 
                    <div class="pic4">
                        <img src="edge.png">
                    </div>
                    <div class="text">
                        <h class="console">DualSense Edge&#8482; Wireless Controller</h>
                        <br>
                        <p class="content1234">Get an edge in gameplay with remappable buttons, tuneable triggers and sticks, changeable stick caps, back buttons, and more.</p>
                        <a href="https://www.playstation.com/en-in/accessories/dualsense-edge-wireless-controller/"><button class="button-3" role="button">Find Out More</button></a>
                    </div>
                    </div>
                    <div class="navbar-for-list-games">
                        <h3>PS5 Games</h3>
                    </div>
                    <section class="list-games">
                    <div class="list-games-wrapper">
                        <div class="list-games-slider">
                         <img id="slider-1" src="spiderman.jpg" />
                         <img id="slider-2" src="f1.jpg" />
                         <img id="slider-3" src="gowr.jpg" /> 
                         <img id="slider-4" src="mow3.jpg" />
                         <img id="slider-5" src="ronin.jpg" />   
                        </div>
                        <div class="slider-navigation">
                            <a href="#slider-1"></a>
                            <a href="#slider-2"></a>
                            <a href="#slider-3"></a>
                            <a href="#slider-4"></a>
                            <a href="#slider-5"></a>
                        </div>      
                    </div>
                    </section>
                    <div class="media"><h3>Follow Me on Social Media</h3></div>
                    <div class="social-navbar">
                        <a href="https://www.instagram.com/commander_bittu?igsh=MW11dGIyYXJsNnBmZg==" target="_blank" class="social-icon insta"></a>
                        <a href="https://www.linkedin.com/in/shashank-yadav-b190b7262/" target="_blank" class="social-icon linkedin"></a>
                        <a href="https://steamcommunity.com/id/ChiragSingh664/" target="_blank" class="social-icon steam"></a>
                        <a href="https://www.youtube.com/channel/UCkxC3nERMJAwt-RMoNjVJXA" target="_blank" class="social-icon yt"></a>
                    </div>                    
    <script src="./app.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/667affe89d7f358570d348b2/1i187f9pn';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>

</body>
<footer>
    <div class="footer-logo">
    </div>
    <br>
    <hr>
    <br>
    <div class="footer-container">
        <div class="footer-column">
            <h3>About</h3>
            <ul>
                <li><a href="#">About SIE</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">PlayStation Studios</a></li>
                <li><a href="#">PlayStation Productions</a></li>
                <li><a href="#">Corporate</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Products</h3>
            <ul>
                <li><a href="#">PS5</a></li>
                <li><a href="#">PS4</a></li>
                <li><a href="#">PS VR2</a></li>
                <li><a href="#">PS Plus</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Games</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Values</h3>
            <ul>
                <li><a href="#">Environment</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Online safety</a></li>
                <li><a href="#">Diversity, equity & inclusion</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Support hub</a></li>
                <li><a href="#">PlayStation Safety</a></li>
                <li><a href="#">PSN Status</a></li>
                <li><a href="#">PlayStation Repairs</a></li>
                <li><a href="#">Password reset</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Resources</h3>
            <ul>
                <li><a href="#">PSN terms of service</a></li>
                <li><a href="#">PS Store cancellation policy</a></li>
                <li><a href="#">Age ratings</a></li>
                <li><a href="#">Health warning</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Glossary</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Connect</h3>
            <div class="footer-column-social">
                <i class="fa-brands fa-x-twitter" ></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <ul>
                <li><a href="#">iOS app</a></li>
                <li><a href="#">Android APP</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>