<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./store.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
            <div class="logo">
            </div>
        </div>
    </div>
    
        <div class="navbar1">
            <div class="nav1-logo">
                <div class="logo1">
                </div>
            </div>
            <div class="nav-games">
                <a class="games-third" href="https://www.playstation.com/en-in/ps5/games/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-games%3Aps5">Games</a>
                <div class="icon">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="station.html">PS5</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/ps4/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-ps4%3Aconsole">PS4</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/ps-plus/?smcid=pdc%3Aen-in%3Aprimary%20nav%3Amsg-services%3Aps-plus">Services</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="./accessories">Accessories</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://blog.playstation.com/">News</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="./store">Store</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="nav-ps5">
                    <a class="games-third" href="https://www.playstation.com/en-in/support/?smcid=other%3Aen-in%3Ablank%3Aprimary%20nav%3Amsg-support%3Asupport">Support</a>
                    <div class="icon">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <div class="button">
                    <a href="/login"><button class="button-1" role="button">Sign In</button></a>
                </div>
                <div class="input-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="fname" name="fname" size="10" placeholder="Search">
                </div>
            </div>
        </div>
        <header>
        <div class="navbar-2">
            <div class="store-logo">
                <h3>PlayStation Store</h3>
            </div>
          <div class="navbar-2-text">
            <button class="btn button-2" role="button">Latest</button>
            <button class="btn button-3" role="button">Collection</button>
            <button class="btn button-4" role="button">Deals</button>
            <button class="btn button-5" role="button">Subscriptions</button>
            <button class="btn button-6" role="button">Browse</button>
          </div>  
        </div>
    </header>
        <div class="banner">
            <img src="./Screenshot 2024-06-01 195653.png">
        </div>
        <br>
        <br>
        <h2>Featured Items</h2>
        
        <hr>
        <br>
        <div class="items container">
            <div class="box">
                <div class="imgBox">
                    <img src="./f1-item.png">
                </div>
                <div class="content contentf1">
                    <h2>F1® 24</br>
                    <span>EA</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./x-item.png">
                </div>
                <div class="content contentx">
                    <h2>XDefiant</br>
                    <span>Ubisoft</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./mw3-item.png">
                </div>
                <div class="content contentmw3">
                    <h2>Call of Duty: Modern Warfare III</br>
                    <span>Activision</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./ac-item.png">
                </div>
                <div class="content">
                    <h2>Assassin’s Creed Shadows</br>
                    <span>Ubisoft Entertainment</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./stellar-item.png">
                </div>
                <div class="content contentstellar">
                    <h2>Stellar Blade™</br>
                    <span>Sony Interactive Entertainment</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./Screenshot 2024-06-01 201707.png">
                </div>
                <div class="content contentmulti">
                    <h2>MultiVersus</br>
                    <span>Warner Bros. Interactive</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./Screenshot 2024-06-01 201703.png">
                </div>
                <div class="content contenthill">
                    <h2>Silent Hill 2</br>
                    <span>Konami</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./Screenshot 2024-06-01 201650.png">
                </div>
                <div class="content contentzero">
                    <h2>Zenless Zone Zero</br>
                    <span>HoYoverse</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./Screenshot 2024-06-01 202323.png">
                </div>
                <div class="content contenthill">
                    <h2>Hogwarts Legacy</br>
                    <span>Warner Bros. Entertainment Inc.</span></h2>
                </div>
            </div>
            <div class="box">
                <div class="imgBox">
                    <img src="./Screenshot 2024-06-01 202513.png">
                </div>
                <div class="content dbz">
                    <h2>DRAGON BALL XENOVERSE 2</br>
                    <span>BANDAI NAMCO ENTERTAINMENT EUROPE</span></h2>
                </div>
            </div>
            
        </div>
        
        <br>
        <br>
        <h2>Top Games</h2>
        <hr>
        <div class="top-games">
            <div>
                <a href="./mw3"><img src="./Screenshot 2024-06-02 011245.png"></a>
                <p class="cod">Modern Warfare 3</p>
            </div>
            <div>
                <a href="./spider"><img src="./Screenshot 2024-06-02 011752.png"></a>
                <p class="spider">Marvel's SpiderMan 2</p>
            </div>
            <div>
                <a href="./wwe"><img src="./Screenshot 2024-06-02 011843.png"></a>
                <p class="wwe">WWE 2K24</p>
            </div>
            <div>
                <a href="./shock"><img src="./Screenshot 2024-06-02 011922.png"></a>
                <p class="shock">System Shock</p>
            </div>
            <div>
                <a href="./gow"><img src="./Screenshot 2024-06-02 012535.png"></a>
                <p class="gow">God Of War Ragnarok</p>
            </div>
            <div>
                <a href="./ac"><img src="./Screenshot 2024-06-02 015116.png"></a>
                <p class="creed">Assassin's Creed Shadows</p>
            </div>
            <div>
                <a href="./star"><img src="./Screenshot 2024-06-02 015738.png"></a>
                <p class="wars">Star Wars Outlaws</p>
            </div>
            
        </div>
        
</body>
<footer>
    <div class="footer-logo">
    </div>
    <br>
    <hr>
    <br>
    <div class="footer-container">
        <div class="footer-column">
            <h3>About</h3>
            <ul>
                <li><a href="#">About SIE</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">PlayStation Studios</a></li>
                <li><a href="#">PlayStation Productions</a></li>
                <li><a href="#">Corporate</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Products</h3>
            <ul>
                <li><a href="#">PS5</a></li>
                <li><a href="#">PS4</a></li>
                <li><a href="#">PS VR2</a></li>
                <li><a href="#">PS Plus</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Games</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Values</h3>
            <ul>
                <li><a href="#">Environment</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Online safety</a></li>
                <li><a href="#">Diversity, equity & inclusion</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Support hub</a></li>
                <li><a href="#">PlayStation Safety</a></li>
                <li><a href="#">PSN Status</a></li>
                <li><a href="#">PlayStation Repairs</a></li>
                <li><a href="#">Password reset</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Resources</h3>
            <ul>
                <li><a href="#">PSN terms of service</a></li>
                <li><a href="#">PS Store cancellation policy</a></li>
                <li><a href="#">Age ratings</a></li>
                <li><a href="#">Health warning</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Glossary</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Connect</h3>
            <div class="footer-column-social">
                <i class="fa-brands fa-x-twitter" ></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <ul>
                <li><a href="#">iOS app</a></li>
                <li><a href="#">Android APP</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
    const username = localStorage.getItem('username');
            if (username) {
                const signInButton = document.querySelector('.button a button');
                signInButton.textContent = username;
            }
</script>
</html>